.bloco-perguntas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px 0px;
}



.botao-comecar{
    width: 200px;
}

.div-quizz{
    display: none;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    gap: 24px;
    align-self: flex-start;
}

.div-quizz.ativo{
    display: flex;
}

.jogo{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
}

.botoes-quizz{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 24px;
}


.botao-quizz{
    border: none;
    text-decoration: none;
    align-self: center;
    background-color: var(--cor-base);
    cursor: pointer;
}

.numero-questao{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-principal);
}

.bloco-opt{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.opcoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start; 
    gap: 12px;     
    text-align: left;
}

.radio{
    width: 18px;
    height: 18px;
}

.option{
    font-size: 20px;
    color: var(--cor-texto1);
}

.bloco-msgfinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 24px;
}

.msg-final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.msg-final h2 {
font-size: 28px;
}

.botao-novamente{
    display: none;
    align-self: center;
    width: 200px;
    border: none;
    text-decoration: none;
    background-color: var(--cor-base);
    cursor: pointer;
}

.botao-novamente.ativo{
    display: flex;
}


