@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-base: #faf2e4;
    --cor-principal: #e89028;
    --cor-secundaria: #FBB562;
    --cor-texto1: #000;
    --cor-texto2: #fff;
    --cor-bordas: #C8C2B6;
    --ativo: #784508;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Playfair Display", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

header{
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
    height: 40px;
    padding: 10px 50px;
    background-color: var(--cor-principal);
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    gap: 172px;
}

a {
    text-decoration: none;
    color: var(--cor-texto2);
    font-weight:600
}

a:active {
    color: var(--ativo);
}

.ativo{
    color: var(--ativo);
}

.links-nav{
    display: flex;
    gap: 16px;
}



.botoes-nav{
    display: flex;
    gap: 24px;
    align-items: center;
}

.botoes-nav a{
    display: flex;
    align-items: center;
}

body{
    min-height: 100vh;
    background-color: var(--cor-base);
}

.div-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
}

.coluna-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    height: 100vh;
    padding: 30px 30px 50px 0;
    gap: 24px;
    position: sticky;
    top: 0;
}

.dia-semana{
    display: flex;
    gap: 8px;
}

.coluna-lateral h2{
    text-align: center;
    font-style: italic;
    font-weight: 500;
    color: var(--cor-principal);
    font-size: 32px;
}

.texto-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.texto-side h3{
    font-weight: 500;
    color: var(--ativo);
}

.avatar{
    width: 170px;
    background-color: palegreen;
    border-radius: 9999px;
}

.logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px 15px 0px;
    gap: 12px;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    padding: 30px 30px;
    border-left: 1px solid var(--cor-bordas);
    gap: 24px

}

.linha-dash1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.linha-dash2{
    display: flex;
}

.rotacionar{
    transform: rotate(180deg);
}
.titulo-dash{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 350px;
    width: 150px;
    gap: 16px;
}

.grafico-barra{
    width: 50%;
}

.grafico-torta{
    margin-left: 70px;
    width: 50%;
}

.ivy-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

.cards-kpi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 72px;
}


.card-individual{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--cor-principal);
    /* border-style: solid;
    border-width: 2px;
    border-color: var(--cor-bordas); */
    padding: 5px 5px;
    width: 300px;
    min-height: 100px;
    gap: 30px;
}


.card-dash{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    color: var(--cor-texto2);
    background-color: #18628D;
    width: 300px;
    min-height: 100px;
    gap: 14px;
}

.dado-banco{
    font-size: 24px;
    
}


.card-individual h3{
    font-weight: 600;
}

.card-individual img{
    width: 100px;
}

main h2 {
    font-style: italic;
    font-weight: 500;
    color: var(--cor-principal);
    font-size: 32px;
}

main img{
    width: 100%;
}


footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 40px;
    padding: 5px 50px;
    background-color: var(--cor-principal);
    color: var(--cor-texto2);
}

.icon-footer{
    stroke: var(--cor-texto2);
}


